@import "tailwindcss";

@theme {
    --color-midnight-blue: #1a1f3a;
    --color-slate-blue: #2e3856;
    --color-cool-white: #f8f9fa;
    --color-electric-blue: #3b82f6;
    --color-deep-blue: #2563eb;
    --color-soft-teal: #14b8a6;
    --color-slate-gray: #64748b;
    --color-light-gray: #e2e8f0;
    --color-pure-white: #ffffff;
}

.pushButton {
    transition: transform 0.1s ease;
}

.pushButton:active {
    transform: scale(0.95);
}

.toast-fade-enter {
    animation: fadeIn 0.3s ease-in-out;
}

.toast-fade-exit {
    animation: fadeOut 0.3s ease-in-out;
}
.settings-page {
    float:left;
    width:200px;
    padding: 30px;
}
:root {
    --bg-color: #ffff;
    --text-color:#222222;
    --feature-section-bg: #f8f9fa;
    --page-bg: #ffffff;
    --title-color:#191970;

    
}
[data-theme='dark'] {
    --bg-color:#1e1e1e;
    --text-color:#f1f1f1;
    --feature-section-bg: #222222;
    --page-bg: #222222;
    --title-color:#f1f1f1;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}